<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title></title>
		<% include ../partials/head.ejs %>
	</head>
	<body>
		<div>
			<div>
		<h1> Edit Venues </h1>
			</div>
		<form action='/<%=Opry.id%>?_method=PUT' method='POST'>
			Name: <input type='text' name='name' value='<%=Opry.name %>' />
			Location: <input type='text' name='location' value='<%=Opry.location %>' />
			Img: <input type='url' name='img' value='<%=Opry.img %>' />
			Description: <input type='text' name='description'
			value='<%=Opry.review %>' />
			Rating: <input type='number' name='rating'
			value='<%=Opry.rating %>' />
			<input type='submit' value='Submit Tournament' />
		</div>
		</form>
		<footer>
			<% include ../partials/footer.ejs %>
		</footer>
	</body>
</html>
