<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title></title>
		<% include ../partials/head.ejs %>
	</head>
	<body>
		<div>
		<img class="showimg" src='<%=Opry.img%>'/>
		</div>
		<div class="columns">
			<h3 class="name">
			<%=Opry.name; %>
			</h3>
		</div>
		<div>
			<h3 class="location">
		<%=Opry.location; %>
	</h3>
		</div>
		<br />
		<div>
			<h3 class="description">
		<%=Opry.description; %>
	</h3>
		</div>
		<div>
			<i class="material-icons">music_note</i>
		Rating: <%=Opry.rating; %>
			<i class="material-icons">music_note</i>
		</div>
		</div>
		<div id="map"></div>
		<script>
			function initMap() {
				let Lat = <%=Opry.lat%>;
				let Long = <%=Opry.long%>;
				let LatLong = {lat: Lat, long: Long};

				let map = new google.maps.Map(document.getElementById('map'), {
					zoom: 10,
					center: LatLong
				});

				let marker = new google.maps.Marker({
					position: LatLong,
					map: map,
					title: 'Venues'
				});
			}
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap" async defer></script>
		<button>
			<!-- link for edit page ------->
			<a href='/<%=Opry.id; %>/edit'> Edit Venue</a>
			<!--delete form here before closing li -->
			<!--make action delete with method override -->
						<form action='/<%=Opry.id; %>?_method=DELETE' method='POST'>
							<input type='submit' value='Delete Venue'  />
						</form>
		</button>
		<footer>
			<% include ../partials/footer.ejs %>
		</footer>
	</body>
</html>
