<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title></title>
		<% include ../partials/head.ejs %>
	</head>
	<body>
		<div class="columns">
			<h3 class="column">
			<%=Opry.name; %>
			</h3>
		</div>
		<div>
			<h4>
		<%=Opry.location; %>
			</h4>
		</div>
		<div>
			<h4>
		<%=Opry.description; %>
			</h4>
		</div>
		<div>
		<img class="showimg" src='<%=Opry.img%>'/>
		</div>
		<div>
		Rating: <%=Opry.rating; %>
		</div>
		</div>
		<button>
			<!-- link for edit page ------->
			<a href='/<%=Opry.id; %>/edit'> Edit Venue</a>
			<!--delete form here before closing li -->
			<!--make action delete with method override -->
						<form action='/<%=Opry.id; %>?_method=DELETE' method='POST'>
							<input type='submit' value='Delete Venue'  />
						</form>
			<a href='/'>Back to Venues</a>
		</button>
		<footer>
			<% include ../partials/footer.ejs %>
		</footer>
	</body>
</html>
